// #NEW POST VIEW


.custom-new-post-form form{
    border: 1px solid #e6e6e6;
    padding: 4rem;

}

.custom-new-post-form__body{
    font-size: 1rem;
}

.custom-new-post-form__body textarea{
    min-height: 300px;
        
}

.custom-new-post-form__actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-new-post-form__actions input {
    width: auto;
    
}

.field_with_errors input{
   width: 100%;
   box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.356);
   
}

.field_with_errors textarea{
    width: 100%;
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.356);
 }


//  #Comments

.form-comments-main-body{
    padding: 0;
    height: 100px;
}

.form-comments-main input, textarea{
    width: 100%;
    
}

.form-comments-main textarea{
    height: 100%;
    resize: none;
    margin-top: 1rem;
    border-bottom: none;
    
}

.form-comments-actions{
    padding: 1rem;
    display: flex;
    justify-content: end;
    width: 100%;
    border: 1px solid black;
    border-top: none;
}

.form-comments-actions-button{
    padding: 0.25rem 1rem;
}



.card-comment-name{
    font-size: 0.85rem;
}

.card-comment-info{
    font-size: 0.85rem;
    color: rgb(153, 153, 153);
}

.custom-form-comments{
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.custom-comments{
    padding-left: 5rem;
}

.custom-comments-counter{
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid gray;
    margin-bottom: 2rem;

}


// INDEX FOR USER


.custom-card-index{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.custom-card-index__actions{
    display: flex;
    gap: 0.5rem;

}